In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('spam.csv')

In [3]:
data.head()

,v1,text,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   text        5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [4]:
data['v1'].value_counts()

v1
ham     4825
spam     747
Name: count, dtype: int64

In [5]:
data['spam']=data['v1'].map({
    'spam':1,'ham':0
})

In [6]:
data.head()

,v1,text,Unnamed: 2,Unnamed: 3,Unnamed: 4,spam
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN,0
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN,0
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN,1
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN,0
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN,0

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
train_X,test_X,train_Y,test_Y=train_test_split(data['text'],data['spam'],test_size=0.2,stratify=data['spam'])

In [11]:
count_0,count_1=train_Y.value_counts()

In [14]:
train_df=pd.concat([train_X,train_Y], axis=1)
train_df_0=train_df[train_df.iloc[:,1]==0]
train_df_1=train_df[train_df.iloc[:,1]==1]
train_df_1_upsampled=train_df_1.sample(count_0, replace=True)
train_df_1_upsampled.shape

(3859, 2)

In [16]:
train_upsampled=pd.concat([train_df_0,train_df_1_upsampled],axis=0)
X=train_upsampled.iloc[:,0]
y=train_upsampled.iloc[:,1]
X.shape

(7718,)

In [34]:
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report,confusion_matrix
import seaborn as sns
import numpy as np

In [19]:
p=Pipeline([
    ('vect',TfidfVectorizer()),
    ('nb', MultinomialNB())
])
p.fit(X,y)
y_pred=p.predict(test_X)
print(classification_report(test_Y,y_pred))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99       966
           1       0.93      0.94      0.93       149

    accuracy                           0.98      1115
   macro avg       0.96      0.96      0.96      1115
weighted avg       0.98      0.98      0.98      1115

In [22]:
p1=Pipeline([
    ('vect',CountVectorizer()),
    ('nb', MultinomialNB())
])
p1.fit(X,y)
y_pred1=p1.predict(test_X)
print(classification_report(test_Y,y_pred1))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99       966
           1       0.93      0.94      0.94       149

    accuracy                           0.98      1115
   macro avg       0.96      0.96      0.96      1115
weighted avg       0.98      0.98      0.98      1115